<a href="https://colab.research.google.com/github/JuarezEmmanuel/Data-Science-Python/blob/main/Python_B%C3%A1sico.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Tipos de Variables en Python

- **Variable de Caracter**: Es un tipo de variable que almacena un solo car√°cter. Se define utilizando comillas simples o dobles alrededor del car√°cter.

```python
caracter = 'a'

In [39]:
caracter = "a"
print(caracter)

a

Lista: Es una colecci√≥n ordenada y mutable de elementos. Se define utilizando corchetes []

In [40]:
lista = [1, 2, 3, 4, 5]
lista

[1, 2, 3, 4, 5]

Tupla: Es similar a una lista pero inmutable, es decir, no se puede modificar una vez creada. Se define utilizando par√©ntesis ().

In [41]:
tupla = (1, 2, 3, 4, 5)
tupla

(1, 2, 3, 4, 5)

Diccionario: Es una colecci√≥n de pares clave-valor no ordenados y mutables. Se define utilizando llaves {} y separando cada par clave-valor con :.

In [42]:
diccionario = {'nombre': 'Juan', 'edad': 30, 'ciudad': 'Madrid'}
diccionario

{'nombre': 'Juan', 'edad': 30, 'ciudad': 'Madrid'}

Set: Es una colecci√≥n no ordenada y sin elementos duplicados. Se define utilizando llaves {}.

In [43]:
conjunto = {1, 2, 3, 4, 5} #investigar
conjunto

{1, 2, 3, 4, 5}

##**Estructuras de Control en Python**
**if: Permite ejecutar un bloque de c√≥digo si una condici√≥n es verdadera.**

In [44]:
x = 4
if x > 5:
  print("x es mayor que 5")
else:
  print("x es menor o igual que 5")

x es menor o igual que 5

for: Permite iterar sobre los elementos de una secuencia (como una lista o tupla) o cualquier objeto iterable.

In [45]:
for i in range(1, 7):
    print(i)

1
2
3
4
5
6

In [46]:
numeros = [1, 2, 3, 4, 5]
for i in numeros:
    print(i)

1
2
3
4
5

while: Permite ejecutar un bloque de c√≥digo mientras una condici√≥n sea verdadera.

In [47]:
contador = 0
while contador <5:
    print(contador)
    contador = contador + 1

0
1
2
3
4


# **Markdown** üõ†Ô∏è

**Markdown** es un lenguaje de marcado ligero que se utiliza para formatear texto de manera sencilla y r√°pida. Fue creado con la idea de que sea f√°cil de leer y escribir, incluso sin procesadores de texto complejos.


üí° Algunas de las caracter√≠sticas m√°s comunes de Markdown incluyen:

 ‚úîÔ∏è La capacidad de crear t√≠tulos y subt√≠tulos con diferentes niveles de encabezado.
- ‚ú® Formateo de texto como **negrita**, *cursiva* y ~~tachado~~.
- üìã Creaci√≥n de listas ordenadas y no ordenadas.
- üîó Inclusi√≥n de [enlaces](https://example.com) e im√°genes.
- üñ•Ô∏è Creaci√≥n de bloques de c√≥digo.
- üìä Soporte para tablas.

Markdown se utiliza ampliamente en diferentes plataformas, como en la documentaci√≥n de proyectos de software, en foros, en la creaci√≥n de blogs y, por supuesto, en la creaci√≥n de contenido en **Jupyter Notebooks**. üöÄ

## Funci√≥n en Programaci√≥n

Una funci√≥n en programaci√≥n es un bloque de c√≥digo que realiza una tarea espec√≠fica cuando es llamado o invocado desde otra parte del programa. Estas funciones pueden tomar argumentos como entrada, realizar alg√∫n procesamiento y devolver un resultado o realizar alguna acci√≥n. Las funciones permiten modularizar el c√≥digo, lo que significa que puedes escribir una vez la l√≥gica de una tarea y reutilizarla m√∫ltiples veces en diferentes partes de tu programa. üîÑ

### Sintaxis B√°sica

En Python, la sintaxis b√°sica para definir una funci√≥n es la siguiente:

```python
def nombre_funcion(parametros):
    # C√≥digo de la funci√≥n
    return resultado

In [48]:
def sumar(a, b):
    resultado = a + b
    return resultado

# Llamamos a la funci√≥n sumar
resultado_suma = sumar(10000, 1500)
print(resultado_suma)  # Esto imprimir√°

11500

**Doble Divertido üé≤**
Enunciado del Problema: Queremos calcular el doble de un n√∫mero. ¬°Tu tarea es escribir una funci√≥n que tome un n√∫mero y devuelva el doble de ese n√∫mero!

Instrucciones:

Escribe una funci√≥n llamada calcular_doble que tome un n√∫mero como entrada.
La funci√≥n debe devolver el doble de ese n√∫mero.
Prueba tu funci√≥n con diferentes n√∫meros y muestra el resultado.

In [49]:
def calcular_doble(numero):
    """Calcula el doble de un n√∫mero."""
    return numero * 2

# Prueba del ejercicio
resultado = calcular_doble(8)
print("El doble de 8 es:", resultado)

El doble de 8 es: 16

**Cuadrado Curioso üìê**
Enunciado del Problema: ¬øQuieres conocer el secreto del cuadrado? ¬°Vamos a calcular el cuadrado de un n√∫mero! Tu tarea es escribir una funci√≥n que tome un n√∫mero y devuelva su cuadrado.

Instrucciones:

Escribe una funci√≥n llamada calcular_cuadrado que tome un n√∫mero como entrada.
La funci√≥n debe devolver el cuadrado de ese n√∫mero.
Prueba tu funci√≥n con diferentes n√∫meros y muestra el resultado.

In [50]:
def calcular_cuadrado(numero):
    """Calcula el cuadrado de un n√∫mero."""
    return numero ** 2

# Prueba del ejercicio
resultado = calcular_cuadrado(3)
print("El cuadrado de 3 es:", resultado)

El cuadrado de 3 es: 9

Problema 1: üé≤ Dados Divertidos üé≤
Enunciado del Problema: Queremos simular el lanzamiento de dos dados y contar cu√°ntas veces obtenemos una suma par.

In [51]:
import random

def lanzar_dados_y_contar_suma_par(num_lanzamientos):
    """
    Simula el lanzamiento de dos dados y cuenta cu√°ntas veces obtenemos una suma par.

    Parameters:
    num_lanzamientos: El n√∫mero de lanzamientos de dados a simular.

    Returns:
    La cantidad de veces que la suma de los dados fue par.
    """
    suma_par = 0  # Inicializamos un contador para la suma par
    for _ in range(num_lanzamientos):  # Iteramos sobre el n√∫mero de lanzamientos
        dado1 = random.randint(1, 6)  # Generamos el resultado del primer dado
        dado2 = random.randint(1, 6)  # Generamos el resultado del segundo dado
        suma = dado1 + dado2  # Calculamos la suma de los resultados
        if suma % 2 == 0:  # Verificamos si la suma es par
            suma_par += 1  # Incrementamos el contador si la suma es par
    return suma_par  # Devolvemos la cantidad de sumas pares

# Simulamos 100 lanzamientos y contamos la cantidad de veces que la suma es par
num_lanzamientos = 100
resultado = lanzar_dados_y_contar_suma_par(num_lanzamientos)
print(f"De {num_lanzamientos} lanzamientos, {resultado} veces la suma fue par.")

De 100 lanzamientos, 58 veces la suma fue par.

Problema del M√°ximo N√∫mero üöÄ
Enunciado del Problema: Queremos encontrar el n√∫mero m√°s grande en una lista de n√∫meros. ¬°Tu tarea es escribir una funci√≥n que encuentre este n√∫mero m√°ximo! üìä

Instrucciones:

Escribe una funci√≥n llamada encontrar_maximo que tome una lista de n√∫meros como entrada.
Esta funci√≥n debe devolver el n√∫mero m√°s grande de la lista.
¬°Pon a prueba tu funci√≥n con una lista de n√∫meros y aseg√∫rate de que encuentre correctamente el m√°ximo! üßê
¬°Buena suerte! üçÄ

In [52]:
def encontrar_maximo(lista): # Tarea
    """
    Encuentra el m√°ximo elemento en una lista de n√∫meros.

    Parameters:
    lista (list): La lista de n√∫meros.

    Returns:
    int or float: El valor m√°ximo en la lista.
    """
    if not lista:  # Verifica si la lista est√° vac√≠a
        return None  # Devuelve None si la lista est√° vac√≠a

    maximo = lista[0]  # Asigna el primer elemento de la lista como el m√°ximo inicialmente

    for num in lista:  # Itera sobre cada n√∫mero en la lista
        if num > maximo:  # Compara si el n√∫mero actual es mayor que el m√°ximo actual
            maximo = num  # Si es as√≠, actualiza el valor m√°ximo

    return maximo  # Devuelve el m√°ximo encontrado


# Ejemplo de uso
numeros = [12, 45, 67, 2300, 200, 34, 250]
maximo_numero = encontrar_maximo(numeros)
print(f"El m√°ximo n√∫mero en la lista es: {maximo_numero}")

El m√°ximo n√∫mero en la lista es: 2300

##**zip en Python**
La funci√≥n zip en Python toma iterables (objetos que se pueden iterar, como listas, tuplas, etc.) y los combina en una secuencia de tuplas. Cada tupla contiene elementos correspondientes de los iterables originales en el mismo √≠ndice. / **TAREA**

In [53]:
lista1 = [1, 2, 3]
lista2 = ['a', 'b', 'c']

# Usando zip para combinar las listas
resultado = zip(lista1, lista2)

# Mostrando el resultado
print(list(resultado))  # Salida: [(1, 'a'), (2, 'b'), (3, 'c')]

[(1, 'a'), (2, 'b'), (3, 'c')]

### Introducci√≥n a Pandas y NumPy üöÄ

Pandas es una poderosa biblioteca de Python utilizada para el an√°lisis y manipulaci√≥n de datos estructurados. Proporciona estructuras de datos flexibles y eficientes, como DataFrames y Series, que permiten trabajar con datos de manera f√°cil y r√°pida. Con pandas, puedes cargar, limpiar, transformar y analizar datos de manera efectiva, lo que lo convierte en una herramienta fundamental para cient√≠ficos de datos y analistas. üêºüìä

NumPy es una biblioteca fundamental para la computaci√≥n cient√≠fica en Python. Proporciona una matriz multidimensional (ndarray) eficiente en t√©rminos de memoria y operaciones matem√°ticas r√°pidas en matrices. NumPy se utiliza ampliamente en el procesamiento de datos, la manipulaci√≥n de matrices, el √°lgebra lineal, el c√°lculo num√©rico y muchas otras √°reas de la computaci√≥n cient√≠fica y la ingenier√≠a. Adem√°s de su eficiencia, NumPy tambi√©n proporciona una amplia gama de funciones matem√°ticas y herramientas para trabajar con datos num√©ricos de manera efectiva. üî¢üßÆ

Ejemplo:

In [54]:
## Numpy

In [55]:
import numpy as np

# Ejemplo 1: Crear un arreglo unidimensional
arreglo_1d = np.array([1, 2, 3, 4, 5])
print("Arreglo 1D:", arreglo_1d)

# Ejemplo 2: Crear una matriz de ceros de 3x3
matriz_zeros = np.zeros((3, 3))
print("\nMatriz de ceros 3x3:\n", matriz_zeros)

# Ejemplo 3: Crear una matriz identidad de 4x4
matriz_identidad = np.eye(4)
print("\nMatriz Identidad 4x4:\n", matriz_identidad)

# Ejemplo 4: Suma de dos matrices
matriz_a = np.array([[1, 2], [3, 4]])
matriz_b = np.array([[5, 6], [7, 8]])
matriz_suma = np.add(matriz_a, matriz_b)
print("\nSuma de dos matrices:\n", matriz_suma)

# Ejemplo 5: Multiplicaci√≥n de matrices
matriz_mult = np.dot(matriz_a, matriz_b)
print("\nMultiplicaci√≥n de dos matrices:\n", matriz_mult)

Arreglo 1D: [1 2 3 4 5]

Matriz de ceros 3x3:
 [[0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]

Matriz Identidad 4x4:
 [[1. 0. 0. 0.]
 [0. 1. 0. 0.]
 [0. 0. 1. 0.]
 [0. 0. 0. 1.]]

Suma de dos matrices:
 [[ 6  8]
 [10 12]]

Multiplicaci√≥n de dos matrices:
 [[19 22]
 [43 50]]

In [56]:
import pandas as pd

# Crear un DataFrame de ejemplo
datos = {'Nombre': ['Ana', 'Juan', 'Mar√≠a', 'Pedro', 'Sara'],
         'Edad': [25, 30, 35, 40, 45]}

df = pd.DataFrame(datos, index=['A', 'B', 'C', 'D', 'E'])
df

  Nombre  Edad
A    Ana    25
B   Juan    30
C  Mar√≠a    35
D  Pedro    40
E   Sara    45

In [57]:
from google.colab import sheets
sheet = sheets.InteractiveSheet(df=df)

https://docs.google.com/spreadsheets/d/1b7-eoy2ADULIJUkn7UZxv2C8GgPCla3rC2pJAaNwHF8/edit#gid=0

**Usando loc para seleccionar filas basadas en etiquetas:**

In [58]:
# Usar loc para seleccionar la fila con etiqueta 'C' y todas las columnas
seleccion_loc = df.loc["C", :]
print("Selecci√≥n usando loc:")
print(seleccion_loc)

Selecci√≥n usando loc:
Nombre    Mar√≠a
Edad         35
Name: C, dtype: object

**Usando iloc para seleccionar filas basadas en √≠ndices enteros:**

In [59]:
# Usar iloc para seleccionar la tercera fila y todas las columnas
seleccion_iloc = df.iloc[2, :]
print("\nSelecci√≥n usando iloc:")
print(seleccion_iloc)

Selecci√≥n usando iloc:
Nombre    Mar√≠a
Edad         35
Name: C, dtype: object

Atento con este regla ‚ùå Excluye el l√≠mite
‚úÖ Incluye el l√≠mite / TAREA

In [60]:
# Usar loc para seleccionar las filas desde 'B' hasta 'D' (inclusive) y todas las columnas
seleccion_rango_loc = df.loc['B':'D', :]
print("\nSelecci√≥n de rango usando loc:")
print(seleccion_rango_loc)

# Usar iloc para seleccionar las filas desde la segunda hasta la cuarta (exclusiva) y todas las columnas / COMO HACERLO CON ILOC '?
seleccion_rango_iloc = df.iloc[1:4, :]
print("\nSelecci√≥n de rango usando iloc:")
print(seleccion_rango_iloc)

Selecci√≥n de rango usando loc:
  Nombre  Edad
B   Juan    30
C  Mar√≠a    35
D  Pedro    40

Selecci√≥n de rango usando iloc:
  Nombre  Edad
B   Juan    30
C  Mar√≠a    35
D  Pedro    40

**Calculo de estadistica b√°sica**

In [61]:
seleccion_rango_loc_edad = df.loc['B':'D', 'Edad']
print("Selecci√≥n de rango de edades usando loc:")
print(seleccion_rango_loc_edad)

Selecci√≥n de rango de edades usando loc:
B    30
C    35
D    40
Name: Edad, dtype: int64

In [62]:
seleccion_rango_iloc_edad = df.iloc[1:4, 1]  # Selecciona las filas 1 a 4 (excluyendo la 4) y solo la columna "Edad" / TAREA
print("Selecci√≥n de rango de edades usando iloc:") # Tarea
print(seleccion_rango_iloc_edad)

Selecci√≥n de rango de edades usando iloc:
B    30
C    35
D    40
Name: Edad, dtype: int64

In [63]:
df

  Nombre  Edad
A    Ana    25
B   Juan    30
C  Mar√≠a    35
D  Pedro    40
E   Sara    45

In [64]:
# Calcular la media edad
media = df['Edad'].mean()

# Calcular la mediana edad
mediana = df['Edad'].median()

# Calcular la moda de las calificaciones
moda = df['Edad'].mode().values[0] #la moda puede tener mas de un valor, con esto nos aseguramos que nos quedemos con el principal

# Calcular la desviaci√≥n est√°ndar de las calificaciones
desviacion_estandar = df['Edad'].std()

# Mostrar los resultados
print("Media:", media)
print("Mediana:", mediana)
print("Moda:", moda)
print("Desviaci√≥n Est√°ndar:", desviacion_estandar)

Media: 35.0
Mediana: 35.0
Moda: 25
Desviaci√≥n Est√°ndar: 7.905694150420948

In [65]:
df.describe()

            Edad
count   5.000000
mean   35.000000
std     7.905694
min    25.000000
25%    30.000000
50%    35.000000
75%    40.000000
max    45.000000

üìä **Enunciado:**


Un inversor compra acciones cada d√≠a de la semana. El precio de las acciones y la cantidad comprada var√≠an diariamente üìà. Considera tambi√©n una probabilidad de ganancia por d√≠a üéØ. Se requiere calcular el valor esperado al final de la semana üí∞.

üí° **Input:** Lista de cantidades compradas, lista de precios diarios y la probabilidad de ganancia.

In [81]:
def retorno_semanal_simple(cantidad_comprada, valores, probabilidad_ganancia):

  valor_esperado = 0
  for cantidad, precio in zip(cantidad_comprada, valores):
    valor_dia = cantidad * precio * probabilidad_ganancia
    valor_esperado += valor_dia
  return valor_esperado

# agregmos los valores para correr el ejemplo
cantidad_comprada = [10, 5, 8, 9, 12, 7]
valores = [1000, 1200, 99, 105, 500, 2000]
probabilidad_ganancia = 0.6

resultado = retorno_semanal_simple(cantidad_comprada, valores, probabilidad_ganancia)
print(f"El valor esperado al final de la semana es {resultado} pesos")
print(resultado)

El valor esperado al final de la semana es 22642.2 pesos
22642.2

In [83]:
import pandas as pd
def retorno_semanal_pd(cantidad_comprada, valores, probabilidad_ganancia):
  df = pd.DataFrame ({
      "cantidad_comprada": cantidad_comprada,
      "valores": valores,
      "probabilidad_ganancia": probabilidad_ganancia
  })
  # Corrected line: added assignment operator and fixed column names
  df["valor_esperado_dia"] = df["cantidad_comprada"] * df["valores"] * df["probabilidad_ganancia"]
  return df["valor_esperado_dia"].sum()

# agregmos los valores para correr el ejemplo
cantidad_comprada = [10, 5, 8, 9, 12, 7]
valores = [1000, 1200, 99, 105, 500, 2000]
probabilidad_ganancia = 0.6

resultado = retorno_semanal_simple(cantidad_comprada, valores, probabilidad_ganancia)
print(f"El valor esperado al final de la semana es {resultado} pesos")
print(resultado)

El valor esperado al final de la semana es 22642.2 pesos
22642.2

**Lectura de un conjunto de datos para sacar media, mediana, moda y desviaci√≥n estandar**

In [84]:
import pandas as pd

#Cargar el conjunto de datos Iris
df = pd.read_csv('https://raw.githubusercontent.com/uiuc-cse/data-fa14/gh-pages/data/iris.csv')

In [85]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [93]:
## Calcular la media

media = df['petal_length'].mean()
print('la media es ',media)

## Calcular la mediana

mediana = df['petal_length'].median()
print('la mediana es ',mediana)

moda = df['petal_length'].mode().values[0]
print('la moda es ',moda)

desviacion_estandar = df['petal_length'].std()
print('la desviacion estandar es ',desviacion_estandar)

la media es  3.758666666666666
la mediana es  4.35
la moda es  1.5
la desviacion estandar es  1.7644204199522617

In [94]:
standar = df['petal_length'].describe()
print(standar)

count    150.000000
mean       3.758667
std        1.764420
min        1.000000
25%        1.600000
50%        4.350000
75%        5.100000
max        6.900000
Name: petal_length, dtype: float64

# **Ejercicios**

**Calcular el √°rea de un tri√°ngulo ‚è∞**

In [96]:
def area_triangulo(base, altura):
    area = base * altura / 2
    return area

resultado = area_triangulo(15, 25)
print(f'El area de un triangulo es {resultado} M2')

El area de un triangulo es 187.5 M2

**Ejercicio de c√°lculo de promedio ponderado üìä**
Escribe una funci√≥n llamada promedio_ponderado que calcule el promedio ponderado de una lista de valores, teniendo en cuenta los pesos y cr√©ditos correspondientes. Esta funci√≥n toma tres listas como entrada: una lista de valores, una lista de pesos y una lista de cr√©ditos. Luego, devuelve el promedio ponderado de los valores.

In [97]:
def promedio_ponderado(valores, pesos, creditos):
    if not (len(valores) == len(pesos) == len(creditos)):
        raise ValueError("Las listas deben tener la misma longitud.")

    numerador = 0
    denominador = 0

    for v, p, c in zip(valores, pesos, creditos):
        numerador += v * p * c
        denominador += p * c

    if denominador == 0:
        raise ValueError("La suma de pesos*cr√©ditos no puede ser cero.")

    return numerador / denominador

In [98]:
valores = [8, 9, 10]
pesos = [1, 2, 1]
creditos = [3, 3, 4]

resultado = promedio_ponderado(valores, pesos, creditos)
print(resultado)

9.076923076923077

 **C√°lculo de Potencia al Cubo üé≤**
Escribe una funci√≥n llamada potencia_cubo que tome un n√∫mero como entrada y calcule su potencia al cubo.

In [100]:
def potencia_cubo(numero):
    return numero ** 3

print(potencia_cubo(4))

64

**La F√≥rmula Matem√°gica Simplificada üé©‚ú®**
Descubre la versi√≥n simplificada de la f√≥rmula matem√°gica m√°s incre√≠ble! Escribe una funci√≥n llamada formula_matemagica_simplificada que tome tres n√∫meros como entrada: a, b y c. Esta funci√≥n debe calcular y devolver el resultado de la siguiente f√≥rmula misteriosa: a^2 + b^2 + c^2 ¬°Sigue las instrucciones y desentra√±a el misterio de esta f√≥rmula matem√°gica simplificada!

In [101]:
def formula_matemagica_simplificada():
    a = int(input("Ingresa el valor de a: "))
    b = int(input("Ingresa el valor de b: "))
    c = int(input("Ingresa el valor de c: "))

    resultado = a**2 + b**2 + c**2
    return resultado

# Ejecuci√≥n
print("El resultado de la f√≥rmula matem√°gica es:", formula_matemagica_simplificada())

Ingresa el valor de a: 5
Ingresa el valor de b: 9
Ingresa el valor de c: 6
El resultado de la f√≥rmula matem√°gica es: 142

**funci√≥n para calcular el factorial de un n√∫mero de forma recursiva:üîÆ**

Enunciado del ejercicio:
üìä Enunciado:

Un inversor compra una cantidad de acciones espec√≠fica cada d√≠a durante la semana. El precio de las acciones var√≠a diariamente üìà, y se conoce tanto la probabilidad de obtener una ganancia como la probabilidad de incurrir en una p√©rdida.

üí° Input:

Lista con la cantidad de acciones compradas por d√≠a.
Lista con el precio diario de las acciones.
Probabilidad de ganancia y probabilidad de p√©rdida.
üìà Objetivo: Crear una funci√≥n que calcule el valor esperado de la inversi√≥n al final de la semana, tomando en cuenta tanto las probabilidades de ganancia como de p√©rdida.

In [103]:
def valor_esperado_inversion(cantidades, precios, prob_ganancia, prob_perdida):
    if len(cantidades) != len(precios):
        raise ValueError("Las listas deben tener la misma longitud.")

    valor_total = 0

    for q, p in zip(cantidades, precios):
        inversion_dia = q * p
        valor_total += inversion_dia * (prob_ganancia - prob_perdida)

    return valor_total

cantidades = [10, 5, 8, 12, 7]   # acciones por d√≠a
precios = [100, 105, 98, 110, 102]  # precio diario
prob_ganancia = 0.6
prob_perdida = 0.4

resultado = valor_esperado_inversion(cantidades, precios, prob_ganancia, prob_perdida)
print("Valor esperado:", resultado)

Valor esperado: 868.5999999999997