<a href="https://colab.research.google.com/github/JuarezEmmanuel/Data-Science-Python/blob/main/Ventas_Llantas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introducción
Se tiene un set de datos de una empresa líder en Colombia en la venta de llantas, este contiene las ventas desde 2016 al 2020, mediante el uso de Python se pretende predecir la gestión de inventarios tomando en cuenta solo lubricantes . El cliente solicita que se realice un análisis que permita cubrir la demanda de los clientes para el año 2021, se debe tomar en cuenta que existe en cada tienda un espacio de bodega, en el cual no se debe tener stock excesivo, por lo que es importante predecir la cantidad máxima y mínima.

## Carga de Librerias

In [1]:
!pip install -U gdown  #  descargar el archivo directamente desde Google Drive

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats

Requirement already satisfied: gdown in /usr/local/lib/python3.12/dist-packages (5.2.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.12/dist-packages (from gdown) (4.13.5)
Requirement already satisfied: filelock in /usr/local/lib/python3.12/dist-packages (from gdown) (3.20.3)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.12/dist-packages (from gdown) (2.32.4)
Requirement already satisfied: tqdm in /usr/local/lib/python3.12/dist-packages (from gdown) (4.67.2)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.12/dist-packages (from beautifulsoup4->gdown) (2.8.3)
Requirement already satisfied: typing-extensions>=4.0.0 in /usr/local/lib/python3.12/dist-packages (from beautifulsoup4->gdown) (4.15.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests[socks]->gdown) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests[socks]->gdown) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests[socks]->gdown) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests[socks]->gdown) (2026.1.4)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.12/dist-packages (from requests[socks]->gdown) (1.7.1)

## Lectura de Archivo
- Ubicacion del archivo
    . https://docs.google.com/spreadsheets/d/1kFa35DYNnfLzAAMEwE7pGwa0RiZN48_n/edit?usp=drive_link&ouid=110546804701229744351&rtpof=true&sd=true
- Venta_Llantas

In [2]:
!gdown 1kFa35DYNnfLzAAMEwE7pGwa0RiZN48_n

Downloading...
From: https://drive.google.com/uc?id=1kFa35DYNnfLzAAMEwE7pGwa0RiZN48_n
To: /content/venta_llantas.xlsx
100% 10.7M/10.7M [00:00<00:00, 43.4MB/s]

In [3]:
df = pd.read_excel('venta_llantas.xlsx')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127266 entries, 0 to 127265
Data columns (total 13 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   IdCliente      127255 non-null  object
 1   NombreCliente  127255 non-null  object
 2   Fecha          127255 non-null  datetime64[ns]
 3   Empleado       127255 non-null  float64
 4   Referencia     127255 non-null  object
 5   Descripcion    127255 non-null  object
 6   CodigoFamilia  127255 non-null  float64
 7   Familia        127255 non-null  object
 8   Cantidad       127255 non-null  float64
 9   Ventas         127255 non-null  float64
 10  Localidad      127255 non-null  object
 11  Sede           127256 non-null  object
 12  Area           127255 non-null  float64
dtypes: datetime64[ns](1), float64(5), object(7)
memory usage: 12.6+ MB

In [5]:
df.head (10)

,IdCliente,NombreCliente,Fecha,Empleado,Referencia,Descripcion,CodigoFamilia,Familia,Cantidad,Ventas,Localidad,Sede,Area
0,C1070956433,PINTO JOHN,2016-09-01,24.0,LL-2R-0038,PILOT STREET 110/80-17,101.0,LLANTA,1.0,129310.0,Puente aranda,Calle 13,35.0
1,C1032372566,CESAR CRUZ,2016-09-01,14.0,LL-TCA-0133,TOURING 175/70R13,101.0,LLANTA,2.0,181034.0,Suba,Suba,32.0
2,C2865810,PINEDA JAIME,2016-09-01,12.0,LL-TCA-0019,ENERGY XM2 185/65R14,101.0,LLANTA,1.0,193095.0,Usaquen,Santa ana,33.0
3,C11210285,VILLALBA RODRIGUEZ FABIO,2016-09-01,24.0,LL-TCA-0009,ENERGY XM2 165/65R13,101.0,LLANTA,2.0,262069.0,Puente aranda,Calle 13,35.0
4,C80755314,MOLINA RONALD,2016-09-01,14.0,LL-TCA-0132,NO UTILIZAR,101.0,LLANTA,4.0,362069.0,Suba,Suba,32.0
5,C21111935,URQUIJO MERCEDES,2016-09-01,14.0,LL-TCA-0022,ENERGY XM2 185/70R14,101.0,LLANTA,4.0,720690.0,Suba,Suba,32.0
6,C79295843,GOMEZ FRANCISCO,2016-09-01,12.0,LL-TCA-0100,PRIMACY 3 ZP 205/55R16,101.0,LLANTA,2.0,737931.0,Usaquen,Santa ana,33.0
7,C79827395,BALLEN CARLOS,2016-09-01,24.0,LL-PLB-0013,ST250 215/75R17.5 NO UTILIZAR REEM LL-PLB-0040,101.0,LLANTA,2.0,931034.0,Puente aranda,Calle 13,35.0
8,C860002175,SCHLUMBERGER SURENCO S A,2016-09-01,7.0,LL-TCC-0020,ALL TERRAIN T/A KO2 265/70R16,101.0,LLANTA,2.0,950015.0,Engativa,Ventas externas,22.0
9,C19091837,URIBE GABRIEL,2016-09-01,12.0,LL-TCA-0114,PRIMACY 3 205/60R16,101.0,LLANTA,4.0,1167069.0,Usaquen,Santa ana,33.0

In [6]:
df = df[df['Familia'] == 'LUBRICANTES']
df.head()

,IdCliente,NombreCliente,Fecha,Empleado,Referencia,Descripcion,CodigoFamilia,Familia,Cantidad,Ventas,Localidad,Sede,Area
88,C800232717,CORSO Y CIA S EN C,2016-09-01,10.0,LUA-0028,MOBIL XHP 20W50 1/4,103.0,LUBRICANTES,1.0,23500.0,Engativa,Calle 80,31.0
123,C52206114,HERNANDEZ ALBA,2016-09-01,14.0,LUA-0002,ELF EVOLUTION PRO 20W50 GALON 5 LITROS,103.0,LUBRICANTES,1.0,100000.0,Suba,Suba,32.0
124,C41712753,DIAZ LUZ MARY,2016-09-01,14.0,LUA-0016,MOBIL SUPER 2000 10W30 GALON,103.0,LUBRICANTES,1.0,113000.0,Suba,Suba,32.0
163,C80166862,SALAZAR CANO ANDRES FELIPE,2016-09-02,10.0,LUA-0014,MOBIL 1 5W30 GRANEL,103.0,LUBRICANTES,1.0,11880.0,Engativa,Calle 80,31.0
198,C80166862,SALAZAR CANO ANDRES FELIPE,2016-09-02,10.0,LUA-0014,MOBIL 1 5W30 GRANEL,103.0,LUBRICANTES,1.0,32400.0,Engativa,Calle 80,31.0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4832 entries, 88 to 127236
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   IdCliente      4832 non-null   object
 1   NombreCliente  4832 non-null   object
 2   Fecha          4832 non-null   datetime64[ns]
 3   Empleado       4832 non-null   float64
 4   Referencia     4832 non-null   object
 5   Descripcion    4832 non-null   object
 6   CodigoFamilia  4832 non-null   float64
 7   Familia        4832 non-null   object
 8   Cantidad       4832 non-null   float64
 9   Ventas         4832 non-null   float64
 10  Localidad      4832 non-null   object
 11  Sede           4832 non-null   object
 12  Area           4832 non-null   float64
dtypes: datetime64[ns](1), float64(5), object(7)
memory usage: 528.5+ KB

In [8]:
# Valores Nulos por Columna
df.isnull().sum()

IdCliente        0
NombreCliente    0
Fecha            0
Empleado         0
Referencia       0
Descripcion      0
CodigoFamilia    0
Familia          0
Cantidad         0
Ventas           0
Localidad        0
Sede             0
Area             0
dtype: int64

In [9]:
# solo meses completos
df = df[df['Fecha'] < '2020-03-01']

In [10]:
# Convertimos la columna 'Fecha' en formato datetime
df['Fecha'] = pd.to_datetime(df['Fecha'], errors='coerce')

# Extraer el año de la columna 'Fecha' para agrupar las ventas anuales
df['Year'] = df['Fecha'].dt.year

# Agrupar por año y descripción de la llanta, sumando las cantidades vendidas por año. Luego pivotea la tabla reemplazando faltantes por 0
sales_by_tire_size = df.groupby(['Year', 'Descripcion'])['Cantidad'].sum().unstack(fill_value=0)

# Filtrar las ventas históricas para los años 2016-2020
historical_sales = sales_by_tire_size.loc[2016:2020]

# Extrapolación de 2016 y 2020
# 2016 solo tiene datos desde septiembre, por lo tanto multiplicamos por 3 (para extrapolar a todo el año)
historical_sales.loc[2016] = historical_sales.loc[2016] * 3

# 2020 solo tiene datos hasta febrero, por lo tanto multiplicamos por 6 (para extrapolar a todo el año)
historical_sales.loc[2020] = historical_sales.loc[2020] * 6

# Cálculo de estadísticas para los años completos 2016-2020
summary_stats_adjusted = historical_sales.loc[2016:2020].describe().T[['mean', 'min', 'max', 'std']]

In [11]:
# Predicción para 2021 con un aumento conservador del 10% debido a la recuperación post-COVID
summary_stats_adjusted['predicted_2021'] = summary_stats_adjusted['mean'] * 1.1

In [12]:
# Cálculo del intervalo de confianza al 95%
confidence_level = 0.95
z_score = stats.norm.ppf((1 + confidence_level) / 2)

# Intervalo de confianza: mean ± z * (std / sqrt(n))
# Donde n es el número de años (5 años: 2016, 2017, 2018 y 2019 , 2020)
n = 5
summary_stats_adjusted['ci_lower'] = summary_stats_adjusted['mean'] - z_score * (summary_stats_adjusted['std'] / np.sqrt(n))
summary_stats_adjusted['ci_upper'] = summary_stats_adjusted['mean'] + z_score * (summary_stats_adjusted['std'] / np.sqrt(n))

# Agregar las ventas históricas de cada año (2016-2020) al archivo final
summary_stats_adjusted = summary_stats_adjusted.join(historical_sales.loc[2016:2020].T)

In [13]:
summary_stats_adjusted

,mean,min,max,std,predicted_2021,ci_lower,ci_upper,2016,2017,2018,2019,2020
Descripcion,,,,,,,,,,,,
10W30 GALON HC SPECIAL TEC AA 4L LIQUI MOLY,21.0,0.0,67.0,29.933259,23.10,-5.237176,47.237176,0.0,0.0,2.0,67.0,36.0
10W30 1/4 HC SPECIAL TEC AA 1L LIQUI MOLY,7.2,0.0,33.0,14.481022,7.92,-5.492942,19.892942,0.0,0.0,3.0,33.0,0.0
10W30 HC MOLYGEN NEW GENERAT DUAL 5L,1.2,0.0,6.0,2.683282,1.32,-1.151957,3.551957,0.0,0.0,0.0,0.0,6.0
10W40 1/4 SEMISINT MOS2 LEICHLAUF 1L LIQUI MOLY,7.4,0.0,24.0,10.573552,8.14,-1.867957,16.667957,0.0,0.0,1.0,24.0,12.0
10W40 GALON SEMISINT MOS2 LEICHLAUF 5L LIQUI MOLY,11.8,0.0,40.0,17.527122,12.98,-3.562917,27.162917,0.0,0.0,1.0,40.0,18.0
...,...,...,...,...,...,...,...,...,...,...,...,...
TERPEL 15W40 GRANEL,1.0,0.0,3.0,1.414214,1.10,-0.239590,2.239590,0.0,3.0,0.0,2.0,0.0
TERPEL 20W50 GRANEL,2.0,0.0,5.0,2.738613,2.20,-0.400456,4.400456,0.0,5.0,5.0,0.0,0.0
TEXAMATIC HIDRAULICO 1/4,20.6,2.0,35.0,13.649176,22.66,8.636190,32.563810,15.0,2.0,33.0,35.0,18.0
VALVULINA ESPIRAX 80W90,7.2,0.0,15.0,6.220932,7.92,1.747213,12.652787,6.0,3.0,12.0,15.0,0.0
VALVULINA MOBIL 80W90,3.2,0.0,10.0,4.604346,3.52,-0.835813,7.235813,0.0,0.0,0.0,10.0,6.0

In [14]:
summary_stats_adjusted['P_2021'] = summary_stats_adjusted['predicted_2021'].round()
summary_stats_adjusted['P_min'] = summary_stats_adjusted['ci_lower'].apply(lambda x: 0 if x < 0 else round(x))
summary_stats_adjusted['P_max'] = summary_stats_adjusted['ci_upper'].apply(lambda x: 0 if x < 0 else round(x))

In [15]:
# Guardar los resultados en un archivo CSV con predicciones, intervalos de confianza y ventas históricas
summary_stats_adjusted.to_csv('prediccion_ajustada_inventario_2021_con_intervalos.csv', index=True)

In [16]:
# Guardar los resultados en un archivo CSV con predicciones, intervalos de confianza y ventas históricas
summary_stats_adjusted.to_csv('prediccion_ajustada_inventario_2021_con_intervalos.tsv', sep = '|')

In [17]:
# Mostrar las predicciones ajustadas de inventario para 2021
print("\nPredicciones Ajustadas de Inventario 2021 con Intervalos de Confianza:")
summary_stats_adjusted[[2017, 2018, 2019, 2020, 'P_2021', 'P_min', 'P_max']]

Predicciones Ajustadas de Inventario 2021 con Intervalos de Confianza:

,2017,2018,2019,2020,P_2021,P_min,P_max
Descripcion,,,,,,,
10W30 GALON HC SPECIAL TEC AA 4L LIQUI MOLY,0.0,2.0,67.0,36.0,23.0,0,47
10W30 1/4 HC SPECIAL TEC AA 1L LIQUI MOLY,0.0,3.0,33.0,0.0,8.0,0,20
10W30 HC MOLYGEN NEW GENERAT DUAL 5L,0.0,0.0,0.0,6.0,1.0,0,4
10W40 1/4 SEMISINT MOS2 LEICHLAUF 1L LIQUI MOLY,0.0,1.0,24.0,12.0,8.0,0,17
10W40 GALON SEMISINT MOS2 LEICHLAUF 5L LIQUI MOLY,0.0,1.0,40.0,18.0,13.0,0,27
...,...,...,...,...,...,...,...
TERPEL 15W40 GRANEL,3.0,0.0,2.0,0.0,1.0,0,2
TERPEL 20W50 GRANEL,5.0,5.0,0.0,0.0,2.0,0,4
TEXAMATIC HIDRAULICO 1/4,2.0,33.0,35.0,18.0,23.0,9,33
VALVULINA ESPIRAX 80W90,3.0,12.0,15.0,0.0,8.0,2,13
VALVULINA MOBIL 80W90,0.0,0.0,10.0,6.0,4.0,0,7

# Resultados:

* Descripción : Nombre del producto o tipo de llanta (ejemplo: "10W30 GALON HC SPECIAL TEC AA 4L LIQUI MOLY").

* Mean (media) : Promedio de las ventas anuales del producto entre 2016 y 2019.

* Min (mínimo) : La cantidad mínima de ventas registradas en un año durante el periodo 2016-2019. En el caso del producto "10W30 GALON HC SPECIAL TEC AA 4L LIQUI MOLY", en al menos un año no se vendió nada (0 unidades).

* Max (máximo) : La cantidad máxima de ventas registradas en un año.

* Std (desviación estándar) : Medida de cantidad variación o dispersión hay en las ventas anuales. Cuanto mayor sea este valor, más dispersas están las ventas a lo largo de los años.

* Predicted_2021 (Predicción 2021) : predicción de la cantidad de unidades que se venderán en 2021, calculada como el promedio de ventas entre 2016 y 2019 con un aumento del 10% para ajustar posibles crecimientos post-COVID.

* CI_Lower (Límite inferior del intervalo de confianza) : El límite inferior del intervalo de confianza del 95% para las ventas promedio. Si el límite inferior es negativo, significa que hay una gran incertidumbre en las predicciones debido a la alta variabilidad de las ventas históricas.

* CI_Upper (Límite superior del intervalo de confianza) : El límite superior del intervalo de confianza del 95% para las ventas promedio.

* 2016, 2017, 2018, 2019, 2020 : Estas columnas muestran las cantidades vendidas de cada producto en esos años.

El análisis muestra productos con alta variabilidad en ventas, lo que sugiere cautela al planificar el inventario, especialmente para productos con grandes fluctuaciones históricas.